<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head('Professores')}"></head>
<body>
<header th:replace="~{fragmentos :: header('Professores')}"></header>
<main class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Salario</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="professor : ${professores}">
            <th scope="row" th:text="${professor.getId()}">3</th>
            <td th:text="${professor.name}">Larry the Bird</td>
            <td th:text="${professor.salary}">1500</td>
            <td th:text="${professor.statusProfessor.toString()}">STATUS</td>
            <td><a th:href="@{/professores/{professorId} (professorId = ${professor.id})}">Detalhes</a></td>
            <td><a href="#">Editar</a></td>
            <td><a href="#">Apagar</a></td>
        </tr>

        </tbody>
    </table>
    <div class="row">
        <a href="/professores/new">Adicionar professor</a>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>